apiVersion: v1
kind: Service
metadata:
 name: app-service
 labels:
   name: app-service
   app: shopping-app
spec:
  type: NodePort
  ports:
   - port: 80
     targetPort: 80
     nodePort: 30002
  selector:
    name: shopping-app-pod
    app: shopping-app
   